<h2>Angular</h2>
<p>
  Si vous connaissez AngularJS (Angular 1.x),
  vous pensez peut-être qu’Angular2 est une upgrade d’AngularJS.
  En réalité, Angular2 a été totalement réécrit par Google,
  ce qui en fait un nouveau framework à part entière,
  avec une philosophie et des concepts propres à lui.
</p>
<p>
AngularJS nous a fourni beaucoup de fonctionnalités,
comme la gestion des routes, 
interaction entre client et serveur, interpolation, directives, filtres, …, le tout sous une architecture MVW.
</p>
<h2>TypeScript</h2>
<p>
    TypeScript est un langage de programmation libre et open source développé par Microsoft qui a pour but d'améliorer et de sécuriser 
    la production de code JavaScript. C'est un sur-ensemble de JavaScript 
    (c'est-à-dire que tout code JavaScript correct peut être utilisé avec TypeScript).
</p>
<div class="code">
<pre>
    <code>
        class Greeter {{ '{' }}
            constructor(public greeting: string) {{ '{' }} {{ '}' }}

            greet() {{ '{' }}
                return "hello world";
            {{ '}' }}
        {{ '}' }};
    </code>
</pre>
</div>
<button md-button class="next" [routerLink]="['../cli']" >Next<md-icon> keyboard_arrow_right</md-icon></button>
