/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
body{
   
    background-color: #0288D1;
    background: radial-gradient(circle, #039BE5, #01579b);
    font-family: 'Amaranth', sans-serif;
   
}
.next{
    float: right;
}
.previous{
    float : left;
}

.code{
    background: red;
    border-radius: 10px;
    border:#fff 1px solid;
}
.sidebar-nav[_ngcontent-c1] li[_ngcontent-c1] {
    text-indent: 20px;
    line-height: 40px;
    font-weight: bolder;
    padding: 10px;
}
.mat-drawer-content {
    
        overflow: hidden !important;
    }